---
layout: archive
permalink: /blog-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% for post in site.posts %}
  <article class="archive__entry">
    {% if post.title %}
      <h2 class="archive__title">
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </h2>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__excerpt">{{ post.excerpt }}</p>
    {% endif %}
  </article>
{% endfor %}
